/*----PERSONAJES----------------------------------*/
.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  background-color: #0000008f; /* Fondo de las tarjetas */
  border: 2px solid #ecbf778d; /* Borde de las tarjetas */
  border-radius: 8px;
  margin: 10px;
  padding: 18px;
  width: 269px; /*280-269*/
  height: 495px; /*490*/
  text-align: center; /* Centrar texto */
  box-shadow: 0 4px 8px #000000;
}

.character img {
  width: 100%; /*ancho*/
  height: 60%; /*alto*/
  margin-bottom: 20px;
}

.character h3 {
  font-family: 'HarryPotter', 'Titulo',sans-serif;
  font-size: 230%;/*200*/
  color: #e1b845;
  text-shadow: 0  1px  5px   #000000,
               0  3px  1px   #2e2e2e;
}

.character p {
  font-family: 'Cuerpo', serif;
  color: #e1e1e1;
}