.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .page-link {
    color: #343a40;
  }
  
  .page-link:hover {
    background-color: #f7c309;
    border-color: #ecc505;
    color: #2b2b2b;
  }
  