/* components/css/Scroll.css */
.scroll-to-top {
    position: fixed;
    bottom: 30px; /*ubicación*/
    right: 30px;
    padding-top: 10px; padding-bottom: 10px; 
    padding-right: 20px; padding-left: 20px;
    font-size: 35px;
    background-color: #e6e6e6b5;
    color: #5e4408; /* Color del icono */
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px #202471ee; /* Sombra para darle un poco de relieve */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
    transition: color 0.3s ease;
  }
  
  .scroll-to-top:hover {
    background-color: #e1b845;
    color: #282059;
  }
  