.App {
  text-align: center;
  font-family: 'Cuerpo';
  background: linear-gradient(#0b0914, #312b56, #3A2C49); /* Fondo oscuro */
  color: #f5f5f5; /* Texto claro */
  position: relative; /*para posicionar el botón de cargar más */
}

.body {
  padding: 20px;
  cursor: url('/v4.png'), auto;
}
/*----FUENTE-------------------------------------------------*/

@font-face {
  font-family: 'HarryPotter';
  src: url('./fonts/HARRYP__.ttf') format('truetype');
}

@font-face {
  font-family: 'Cuerpo';
  src: url('./fonts/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Titulo';
  src: url('./fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

/*-----Sweet Alert--------------------*/
.loading {
  font-family: 'HarryPotter', sans-serif;
  color: #e1b845;
  font-style: oblique;
  font-size: 50px;
  text-align: center;
  margin-top: 150px;
}

.error {
  color: red;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}


/*----BOTONES--------------------------*/
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 17px;
}

.filter-button, .sort-button {
  margin-right: 10px;
  padding: 10px;
  background: linear-gradient(to right,#5E4CA6, #474BB4);
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.filter-button:hover, .sort-button:hover { /*A-Z botón*/
  background-color: #e1b845;
}

.filter-menu button {
  display: block;
  background: none;
  border: none;
  padding: 50px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.filter-menu button:hover {
  background-color: #444444;
}

.dropdown-menu {
  z-index: 1050; /* para superponer el menú sobre el carousel */
  font-size: 20px;
}

.btn-secondary { /*Filtros*/
  background: linear-gradient(to right,#5E4CA6, #474BB4);
  font-size: 20px;
}

.form-control {
  max-width: 300px;
}

/*--------- Hover CASAS ------------------*/
.gryffindor-item:hover {
  background-color: #ae0001;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.slytherin-item:hover {
  background-color: #2a623d;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
  transition: color 0.2s ease;
}

.hufflepuff-item:hover {
  background-color: #deab29;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
  transition: color 0.2s ease;
}

.ravenclaw-item:hover {
  background-color: #222f5b;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
  transition: color 0.2s ease;
}

.reset-item:hover {
  background-color: grey;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
  transition: color 0.2s ease;
}


/*----BUSCADOR----------------------*/
input[type="text"] {
  margin: 20px;
  padding: 10px;
  width: 100%;
  max-width: 450px;
  border: 2px solid #cea820;
  border-radius: 4px;
}
