.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: #181818; /* Fondo oscuro */
  color: #f5f5f5; /* Texto claro */
  position: relative; /*para posicionar el botón de cargar más */
}

.body {
  padding: 20px;
}
/*----FUENTE-------------------------------------------------*/

@font-face {
  font-family: 'HarryPotter';
  src: url('./fonts/HARRYP__.ttf') format('truetype');
}

.title-container {
  position: relative;
  z-index: 1;
}

.title {
  font-family: 'HarryPotter', sans-serif;
  font-size: 48px;
  font-stretch: expanded;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFD700;
}

.title:hover {
  color: #d7d7d7;
  font-size: 50px;
}

/*-----Sweet Alert--------------------*/
.loading {
  font-family: 'HarryPotter', sans-serif;
  color: #dfbc12; 
  font-style: oblique;
  font-size: 100px;
  text-align: center;
  margin-top: 300px;
}

.error {
  color: red;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}


/*----BOTONES--------------------------*/
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
}

.filter-button, .sort-button {
  margin-right: 10px;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover, .sort-button:hover { /*A-Z botón*/
  background-color: #31488d;
}

.filter-menu button {
  display: block;
  background: none;
  color: white;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.filter-menu button:hover {
  background-color: #c61717;
}

.dropdown-menu {
  z-index: 1050; /* para superponer el menú sobre el carousel */
  font-size: 20px;
}

.btn-secondary {
  background-color: #343a40;
  border-color: #343a40;
  font-size: 20px;
}

.btn-secondary:hover { /*botón filtros*/
  background-color: #31488d;
  border-color: #495057;
}

.form-control {
  max-width: 300px;
}

/*--------- Hover CASAS ------------------*/
.gryffindor-item:hover {
  background-color: #ae0001;
  color: white;
  font-size: 20px;
}

.slytherin-item:hover {
  background-color: #2a623d;
  color: white;
  font-size: 20px;
}

.hufflepuff-item:hover {
  background-color: #deab29;
  color: white;
  font-size: 20px;
}

.ravenclaw-item:hover {
  background-color: #222f5b;
  color: white;
  font-size: 20px;
}

.reset-item:hover {
  background-color: grey;
  color: white;
  font-size: 20px;
}


/*----BUSCADOR----------------------*/
input[type="text"] {
  margin: 20px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 2px solid #161e5c;
  border-radius: 4px;
}
